# **Activity 1.01 – comparing sales data for two stores**


1.   Which store has greater sales for the quarter?
2.   Which store has the highest sales for grocery products?
3.   Which store has the highest sales for March?
4.   For how many days were the sales of stationery products greater in store 1 than in store 2?

In [1]:
!wget https://raw.githubusercontent.com/PacktWorkshops/The-Pandas-Workshop/master/Chapter01/Datasets/Store1.csv
!wget https://raw.githubusercontent.com/PacktWorkshops/The-Pandas-Workshop/master/Chapter01/Datasets/Store2.csv

--2023-06-11 19:36:54--  https://raw.githubusercontent.com/PacktWorkshops/The-Pandas-Workshop/master/Chapter01/Datasets/Store1.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 606 [text/plain]
Saving to: ‘Store1.csv’

Store1.csv          100%[===================>]     606  --.-KB/s    in 0s

2023-06-11 19:36:55 (7.44 MB/s) - ‘Store1.csv’ saved [606/606]

--2023-06-11 19:36:55--  https://raw.githubusercontent.com/PacktWorkshops/The-Pandas-Workshop/master/Chapter01/Datasets/Store2.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 798 [text/plain]
Saving to: ‘Store2.csv’

Store2.csv          100%[===================>]     798  --.-KB/s    in 0s

2023-06-11 19:36:55 (55.6 MB/s) - ‘Store2.csv’ saved [798/798]

In [2]:
import pandas as pd

In [3]:
delimiter = ','
store1path = 'Store1.csv'
store2path = 'Store2.csv'

In [4]:
store1 = pd.read_csv(store1path, delimiter)
store1.tail()

<ipython-input-4-a0d1e4da4807>:1: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  store1 = pd.read_csv(store1path, delimiter)

   Months  Grocery_sales  Stationary_sales
45    Mar             39                12
46    Mar             11                86
47    Mar             47                41
48    Mar             52                68
49    Mar             29               113

In [5]:
store2 = pd.read_csv(store2path, delimiter)
store2.head()

<ipython-input-5-f96de3494e6d>:1: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  store2 = pd.read_csv(store2path, delimiter)

  Months  Grocery_sales  Stationary_sales
0    Jan             36                84
1    Jan             51                63
2    Jan             17                71
3    Jan             48                65
4    Jan             57                66

Question 1: Which store has greater sales for the quarter?

In [6]:
# getting the sum from each store

store1sales = (store1[['Grocery_sales','Stationary_sales']].sum(axis=1))
store1_totalsales = store1sales.sum()
store1_totalsales

6082

In [7]:
store2sales = (store2[['Grocery_sales','Stationary_sales']].sum(axis=1))
store2_totalsales = store2sales.sum()
store2_totalsales

5847

Store 1 had more sales than Store 2.

Question 2: Which store has the highest sales for grocery products?

In [8]:
store1_grocery = store1[['Grocery_sales']].sum()
store1_grocery

Grocery_sales    2097
dtype: int64

In [9]:
store2_grocery = store2[['Grocery_sales']].sum()
store2_grocery

Grocery_sales    2696
dtype: int64

Store 2 had more grocery sales than Store 1.

Question 3: Which store has the highest sales for March?

In [10]:
# filter total sales only when month = march

store1_march_sales = store1sales.loc[store1['Months'] == 'Mar'].sum()
store1_march_sales

2871

In [11]:
# filter total sales only when month = march

store2_march_sales = store2sales.loc[store2['Months'] == 'Mar'].sum()
store2_march_sales

2378

Store 1 had higher sales for March.

Question 4: For how many days were the sales of stationery products greater in store 1 than in store 2?

In [12]:
store1_greatersales = store1['Stationary_sales'].gt(store2['Stationary_sales']).sum()
store1_greatersales

35

35 days.